{%- liquid
  capture button_1_text
    if section.settings.button_label_1 != blank
      echo section.settings.button_label_1
      else
        echo 'age_verifier.button_1' | t
    endif
  endcapture
  capture button_2_text
    if section.settings.button_label_2 != blank
      echo section.settings.button_label_2
      else
        echo 'age_verifier.button_2' | t
    endif
  endcapture
  assign section_prefix_class = 'age-verifier'

  capture modal_heading
    echo 'age_verifier.heading' | t
  endcapture
-%}
<modal-component
  data-modal="modal-age-verifier"
  data-trigger="self"
  data-storage="true"
  data-storage-key="age_verfication"
  data-storage-value="true"
  data-hide-outside="false"
>
  <div
    class="modal modal-component modal-component--age-verifier modal-component--{{ section.settings.age_position }} scheme--{{ section.settings.age_color_scheme }}"
    role="dialog"
    aria-modal="true"
    aria-labelledby="modal-age-verifier-heading"
    aria-describedby="modal-age-verifier"
    tabindex="-1"
  >
    <div class="modal-component_spacer">
      <div class="modal-component_wrapper" id="modal-age-verifier">
        <div class="modal-component_body">
          <div class="modal-component_content">
            <div class="age-verifier --align-{{ section.settings.age_text_alignment }}">
              <strong id="modal-age-verifier-heading" class="visually-hidden">
                {{- modal_heading -}}
              </strong>
              {%- for block in section.blocks -%}
                {%- case block.type -%}
                  {%- when 'image' -%}
                    <div
                      class="age-verifier_image {% if block.settings.hide_image_on_mobile %}--mobile-hidden{% endif %} mty"
                      {{ block.shopify_attributes }}
                      style="--block-spacing: {{ block.settings.block_spacing }}px"
                    >
                        {%- if block.settings.image != blank -%}
                          {%- liquid
                            capture image_alt
                              if block.settings.image.alt != blank
                                echo block.settings.image.alt
                                else
                                  echo modal_heading | escape
                              endif
                            endcapture
                          -%}
                          {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: class: '', loading: 'eager', widths: '3840, 480', sizes: '(max-width: 767px) 3840vw', alt: image_alt -}}
                          {%- else -%}
                            {{- 'image' | placeholder_svg_tag: 'object-fit' -}}
                        {%- endif -%}
                    </div>
                  {%- when 'heading' -%}
                    {%- liquid
                      capture block_heading_size
                        case block.settings.heading_size
                          when 'heading_x_large'
                            echo 'h2'
                          when 'heading_large'
                            echo 'h3'
                          when 'heading_medium'
                            echo 'h4'
                          else
                            echo 'h'
                        endcase
                      endcapture

                      capture heading_weight
                        case block.settings.heading_weight
                          when 'semi_bold'
                            echo '--fw-semi-bold'
                          when 'bold'
                            echo '--fw-bold'
                          when 'medium'
                            echo '--fw-medium'
                          when 'normal'
                            echo '--fw-normal'
                        endcase
                      endcapture
                    -%}
                    <strong class="{{ section_prefix_class }}_heading {{ heading_weight }} {{ block_heading_size }} {{ block.type }} mty" style="--block-spacing: {{ block.settings.block_spacing }}px;" {{ block.shopify_attributes }}>
                      {{- block.settings.heading -}}
                    </strong>
                  {%- when 'text' -%}
                    {%- liquid
                      capture block_text_size
                        case block.settings.block_text_size_heading
                          when 'heading_medium'
                            echo 'h4'
                          when 'heading_small'
                            echo 'h5'
                          when 'heading_x_small'
                            echo 'h6'
                          else
                            echo 'h'
                        endcase
                      endcapture

                      capture description_weight
                        case block.settings.description_weight
                          when 'semi_bold'
                            echo '--fw-semi-bold'
                          when 'bold'
                            echo '--fw-bold'
                          when 'medium'
                            echo '--fw-medium'
                          when 'normal'
                            echo '--fw-normal'
                        endcase
                      endcapture
                    -%}
                    <div
                      class="age-verifier_description mty {{ description_weight }} {{ block_text_size }}"
                      {{ block.shopify_attributes }}
                      style="--block-spacing: {{ block.settings.block_spacing }}px"
                    >
                      {{- block.settings.description -}}
                    </div>
                {%- endcase -%}
              {%- endfor -%}
              <div class="age-verifier_btns-wrap --justify-center">
                <modal-component-toggler
                  data-storage="true"
                  data-storage-key="age_verfication"
                  data-storage-value="true"
                >
                  <button type="button"
                    data-expanded="true"
                    data-toggle-attribute="false"
                    data-modal-ref="modal-age-verifier"
                    class="button age-verifier_btn button--primary"
                  >
                    {{- button_1_text -}}
                  </button>
                </modal-component-toggler>
                <button id="age-validator-fail" type="button" class="button age-verifier_btn button--secondary">
                  {{- button_2_text -}}
                </button>
              </div>
              <div id="age-error-container" class="hidden age-error-container text-size--small mty">
                <p>{{- 'age_verifier.error_text' | t -}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</modal-component>