{%- comment -%}
  renders carousel card on section templates
  usage
    {%- render 'carousel-card', card: block, index: forloop.index, height: section_height_class, prefix_class -%}
{%- endcomment -%}
{% liquid
  assign block_scheme_class = card.settings.block_color_scheme | prepend: 'scheme scheme--'
  
  capture loading_attr
    if section.index > 1 or index > 1
      echo 'lazy'
      else
        echo 'eager'
    endif
  endcapture

  capture placeholder_image
    if index > 3
      echo 'hero-apparel-1'
      else
        echo 'hero-apparel-' | append: index
    endif
  endcapture

  capture block_heading_size
    case card.settings.heading_size
      when 'heading_xx_large'
        echo 'h1'
      when 'heading_x_large'
        echo 'h2'
      when 'heading_large'
        echo 'h3'
      when 'heading_medium'
        echo 'h4'
      else
        echo 'h'
    endcase
  endcapture
    
  capture heading_weight
    case card.settings.heading_weight
      when 'bold'
        echo '--fw-bold'
      when 'semi_bold'
        echo '--fw-semi-bold'
      when 'medium'
        echo '--fw-medium'
      when 'normal'
        echo '--fw-normal'
    endcase
  endcapture
    
  capture description_weight
    case card.settings.description_weight
      when 'bold'
        echo '--fw-bold'
      when 'semi_bold'
        echo '--fw-semi-bold'
      when 'medium'
        echo '--fw-medium'
      when 'normal'
        echo '--fw-normal'
    endcase
  endcapture

  capture content_alignment
    case card.settings.block_content_position
      when 'top_left'
        echo 'tleft'
      when 'top_right'
        echo 'tright'
      when 'centered'
        echo 'mcenter'
      when 'bottom_left'
        echo 'bleft'
      when 'bottom_right'
        echo 'bright'
    endcase
  endcapture

  capture q_justify_mobile
    case card.settings.block_mobile_text_alignment
      when 'left'
        echo 'flex-start'
      when 'center'
        echo 'center'
      when 'right'
        echo 'flex-end'
    endcase
  endcapture

  capture q_justify_desktop
    case card.settings.block_text_alignment
      when 'left'
        echo 'flex-start'
      when 'center'
        echo 'center'
      when 'right'
        echo 'flex-end'
    endcase
  endcapture

  capture max_content_size
    echo settings.page_width | times: card.settings.max_content_size | divided_by: 100
  endcapture
%}
{%- style -%}
  .{{ prefix_class }}-{{ card.id }}-{{section.id}}{
    --mobile-q-align: {{ card.settings.block_mobile_text_alignment }};
    --mobile-justify-align: {{ q_justify_mobile }};
    --desktop-q-align: {{ card.settings.block_text_alignment }};
    --desktop-justify-align: {{ q_justify_desktop }};
  }
{%- endstyle -%}
<article class="carousel-card {{ prefix_class }}-{{ card.id }}-{{section.id}} --q-align">
  <div class="container">
    <div class="carousel-height">
      <div class="align-holder align-holder--{{ content_alignment }}">
        <div class="align-holder_wrapper {% if section.settings.show_navigation %}align-holder_wrapper--no-padding{% endif %}" style="--max-content: {{ max_content_size }}px;">
          <div class="carousel-card_wrapper {{ block_scheme_class }} {% unless card.settings.enable_container %}carousel-card--no-box{% endunless %}">
            {%- if card.settings.icon_image != blank -%}
              {%- liquid
                capture image_alt
                  if card.settings.icon_image.alt != blank
                    echo card.settings.icon_image.alt
                    else
                      echo card.settings.heading | escape
                  endif
                endcapture
              -%}
              <div class="carousel-card_logo">
                {{- card.settings.icon_image | image_url: width: 350 | image_tag: class: '', widths: '200, 300, 350', sizes: '(max-width: 767px) 300px, 350px', loading: loading_attr, alt: image_alt -}}
              </div>
            {%- endif -%}
            {%- if card.settings.heading != blank or card.settings.description != blank -%}
              <header class="heading-head">
                {%- if card.settings.heading != blank -%}
                  <h2 class="carousel-card_heading {{ block_heading_size }} {{ heading_weight }} --h-anchor-none mty">
                    {{- card.settings.heading -}}
                  </h2>
                {%- endif -%}
                {%- if card.settings.description != blank -%}
                  <div class="carousel-card_description text-size--{{ card.settings.text_size }} {{ description_weight }} --word-break mty">
                    <p>{{- card.settings.description -}}</p>
                  </div>
                {%- endif -%}
              </header>
            {%- endif -%}
            {%- if card.settings.first_button_heading != blank or card.settings.second_button_heading != blank -%}
              <div class="carousel-card_btn mty --q-align-justify">
                {%- if card.settings.first_button_heading != blank -%}
                  <a
                    {% if card.settings.first_url != blank %}href="{{ card.settings.first_url -}}" {% if card.settings.first_open_new_window %}target="_blank"{% endif %} {% else %} aria-disabled="true" {% endif %}
                    class="button button--primary"
                  >
                    {{- card.settings.first_button_heading -}}
                  </a>
                {%- endif -%}
                {%- if card.settings.second_button_heading != blank -%}
                  <a
                    {% if card.settings.second_url != blank %}href="{{ card.settings.second_url -}}" {% if card.settings.second_open_new_window %}target="_blank"{% endif %} {% else %} aria-disabled="true" {% endif %}
                    class="button button--secondary"
                  >
                    {{- card.settings.second_button_heading -}}
                  </a>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="carousel-card_bg-wrapper">
    {%- if card.settings.image -%}
      <div class="carousel-card_image">
        {%- liquid
          capture image_alt
            if card.settings.image.alt != blank
              echo card.settings.image.alt
              else
                echo card.settings.heading | escape
            endif
          endcapture
        -%}
        {{- card.settings.image | image_url: width: card.settings.image.width | image_tag: class: 'object-fit object-fit--absolute', loading: loading_attr, widths: '768, 1920', sizes: '(max-width: 767px) 50vw, 100vw', alt: image_alt  -}}
      </div>
      {% else %}
        <div class="carousel-card_image">
          {{- placeholder_image | placeholder_svg_tag: 'object-fit object-fit--absolute' -}}
        </div>
    {%- endif -%}
  </div>
</article>