{%- comment -%}
  renders discount popup form
  usage
    {%- render 'discount-popup-form', prefix_class: section_prefix_class, form_id: id -%}
{%- endcomment -%}
{%- liquid
  capture form_class
    echo 'discount-form' | append: ' ' | append: prefix_class | append: '--discount-form'
  endcapture
-%}
{% form 'customer', id: form_id, class: form_class %}
  <input type="hidden" name="contact[tags]" value="discount">
  <div class="discount-form_form-group">
    <div class="discount-form_group-wrap">
      <input
        id="{{ section.id }}DiscountForm-input"
        type="email"
        name="contact[email]"
        value="{{- form.email -}}"
        aria-required="true"
        onkeydown="validation()"
        autocapitalize="off"
        autocomplete="email"
        title="{{- 'newsletter.label' | t -}}"
        {% if form.errors %}
          autofocus
          aria-invalid="true"
          aria-describedby="DiscountFormError-{{- section.id -}}"
        {% elsif form.posted_successfully? %}
          aria-describedby="DiscountFormSuccess-{{- section.id -}}"
        {% endif %}
        placeholder="{{- 'discount_popup.placeholder' | t -}}"
        required
      >
      <label class="discount-form_arrow">
        {%- render 'icons-data', width: 19, height: 19, use_icon: true, icon_reference: 'diagnol' -%}
        <span class="visually-hidden" style="background-color: white; color: black;">{{ 'discount_popup.heading' | t }}</span>
      </label>
    </div>
  </div>
  <div class="discount-form_results-wrap results-wrap_message">
    {%- if form.errors -%}
      <div class="discount-form_errors-wrap">
        <div id="DiscountFormError-{{- section.id -}}" class="{{ section_prefix_class }}_error-wrapper" role="status">
          <i class="{{ section_prefix_class }}_error-icn">
            {%- render 'icons-data', width: 22, height: 22, use_icon: true, icon_reference: 'error' -%}
          </i>
          <span class="visually-hidden">
            {{- 'newsletter.error_text' | t -}}
          </span>
          {{- form.errors.translated_fields.email | capitalize }} {{ form.errors.messages.email -}}
        </div>
      </div>
    {%- endif -%}
  </div>
  <div class="discount-form_btns-wrap --justify-center">
    <button type="submit" class="discount-form_submit-btn button button--primary">
        <span class="">{{ button_label }}</span>
    </button>
  </div>
  <div class="discount-form_results-wrap results-wrap_message">
    {%- if form.posted_successfully? -%}
      <div class="discount-form_success-wrap">
        <div id="DiscountFormSuccess-{{- section.id -}}" class="success-message mty" role="alert" tabindex="-1" autofocus>
          <i class="success-message_icn">
            {%- render 'icons-data', width: 54, height: 54, use_icon: true, icon_reference: 'smile' -%}
          </i>
          <p>{{- 'newsletter.success_text' | t -}}</p>
        </div>
      </div>
    {%- endif -%}
  </div>
{% endform %}