{%- comment -%}
  renders line item compact of cart items compact view, mostly usage into cart drawer
  usage
    {% render 'line-item-compact', item: item, loading_attr: 'lazy' %}
{%- endcomment -%}
{%- liquid
  assign parent_attr = 'data-parent-compact-line-item-' | append: item.id | append: '-' | append: index
  assign line_id = 'compact-line-id-' | append: item.id | append: '-' | append: index
  assign error_render_attr = 'data-render-error' | append: item.id | append: '-' | append: index
-%}
<div class="line-item-compact --v-align-start" {{ parent_attr }} data-init-qty="{{- item.quantity -}}">
  {%- if item.variant.url != blank -%}
    <a href="{{- item.variant.url -}}" class="line-item-compact_image">
      {%- else -%}
        <a href="{{- item.product.title -}}" class="line-item-compact_image">
  {%- endif -%}
      {%- if item.image != blank -%}
        {%- liquid
          capture image_alt
            if item.image.alt != blank
              echo item.image.alt | escape
            else
              echo item.product.title
            endif
          endcapture
        -%}
        {{- item.image | image_url: width: 240 | image_tag: class: 'object-fit object-fit--absolute', loading: loading_attr, widths: '240, 480', sizes: '(max-width: 767px) 10vw', alt: image_alt -}}
      {%- else -%}
        {{- 'product-apparel-1' | placeholder_svg_tag: 'object-fit object-fit--absolute' -}}
      {%- endif -%}
      <span class="visually-hidden">{{ item.product.title }}</span>
  {%- if item.variant.url != blank -%}
    </a>
    {%- else -%}
      </a>
  {%- endif -%}
  <div class="line-item-compact_descr-wrap">
    {%- if settings.show_drawer_vendor -%}
      <strong class="line-item-compact_text-heading --word-break">
        {{- item.product.vendor -}}
      </strong>
    {%- endif -%}
    <strong class="line-item-compact_heading text-size--small --word-break mty">
      {%- if item.variant.url != blank -%}
        <a href="{{- item.variant.url -}}" class="--hover-underline">
          {{- item.product.title -}}
        </a>
        {%- else -%}
          {{- item.product.title -}}
      {%- endif -%}
    </strong>
    <div class="line-item_price-individual">
      <span class="line-item-compact_final-price line-item-compact_total --word-break">
        {{- item.final_line_price | money -}}
        {%- if item.variant.available and item.unit_price_measurement -%}
          <small class="line-item_unit-price">
            <span class="visually-hidden">
              {{- 'product.unit_price' | t -}}
            </span>
            {{- item.variant.unit_price | money -}}
            <span aria-hidden="true">/</span>
            <span class="visually-hidden"
              >&nbsp;{{- 'product.unit_price_separator' | t -}}&nbsp;
            </span>
            {%- if item.variant.unit_price_measurement.reference_value != 1 -%}
              {{- item.variant.unit_price_measurement.reference_value -}}
            {%- endif -%}
            {{- item.variant.unit_price_measurement.reference_unit -}}
          </small>
        {%- endif -%}
      </span>
    </div>
    <div data-render-self-others="">
      {%- if item.product.has_only_default_variant == false or item.properties.size != 0 -%}
        {%- if item.product.has_only_default_variant == false -%}
          <ul class="list-unstyled line-item-compact_variant-list text-size--small">
            {%- for option in item.options_with_values -%}
              <li class="line-item-compact_variant-item">
                <strong class="line-item-compact_variant-title --word-break">
                  {{- option.name -}}:
                </strong>
                <strong class="line-item-compact_variant-value --word-break">
                  {{- option.value -}}
                </strong>
              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
        {%- for property in item.properties -%}
          {%- assign property_first_char = property.first | slice: 0 -%}
          {%- if property.last != blank and property_first_char != '_' -%}
            <dl class="list-unstyled line-item-compact_property-list --word-break">
              <dt class="line-item-compact_property-title">
                {{- property.first -}}:
              </dt>
              <dd class="line-item-compact_property-text">
                {%- if property.last contains '/uploads/' -%}
                  <a href="{{- property.last -}}" class="line-item-compact_property-text-link" target="_blank">
                    {{- property.last | split: '/' | last -}}
                  </a>
                {%- else -%}
                  {{- property.last -}}
                {%- endif -%}
              </dd>
            </dl>
          {%- endif -%}
        {%- endfor -%}
      {%- endif -%}
      {%- if item.discounts.size > 0 -%}
        <ul class="list-unstyled line-item-compact_discounts-list --word-break">
          {%- for discount in item.discounts -%}
            <li class="line-item-compact_discounts-item">
              {%- liquid
                render 'icons-data', width: 11, height: 11, use_icon: true, icon_reference: 'discount'
                echo discount.title
              -%}
            </li>
          {%- endfor -%}
        </ul>
      {%- endif -%}
      {%- if item.selling_plan_allocation != null -%}
        <div class="line-item-compact_plan-wrap">
          <strong class="line-item-compact_plan-item --word-break">
            {{- item.selling_plan_allocation.selling_plan.name -}}
          </strong>
        </div>
      {%- endif -%}
    </div>
    <div class="line-item-compact_field-wrap --v-align-middle" data-render-fields="">
      <quantity-input
        class="quantity-input"
        data-line-id="{{- item.index | plus: 1 -}}"
        data-parent-selector="[{{ parent_attr }}]"
        data-sections='[
          {
            "id": "cart-head",
            "selectors": ["[data-render-cart-bubble]", "[data-render-cart-text]"]
          },
          {
            "id": "cart-showcase",
            "selectors": ["[data-line-items-drawer-container]"]
          }
          {% if template == 'cart' %}
            ,
            {
              "id": "main-cart",
              "selectors": ["[data-line-items-container]"]
            }
          {% endif %}
        ]'
      >
        <label for="Quantity-{{ item.index | plus: 1 }}-{{ section.id }}" class="visually-hidden">
          {{- 'cart.main.thead.qty' | t -}}
        </label>
        <button class="quantity-input_button btn-icn-ixi quantity-input_button-minus {% if item.quantity < 2 %} disabled {% endif %}" name="minus" type="button" {% if item.quantity < 2 %} disabled="disabled" {% endif %}>
          <span class="btn-icn-ixi_wrapper">
            {%- render 'icons-data', width: 8, height: 8, use_icon: true, icon_reference: 'minus' -%}
            <span class="visually-hidden" style="background-color: var(--section-background-color); color: var(--section-foreground-color);">
              {{- 'quantity.decrease' | t: product: item.title | escape -}}
            </span>
          </span>
        </button>
        <input
          type="number"
          name="updates[]"
          value="{{- item.quantity -}}"
          {% # theme-check-disable %}
          min="{{- item.variant.quantity_rule.min -}}"
          {% if item.variant.quantity_rule.max != null %}
            max="{{- item.variant.quantity_rule.max -}}"
          {% endif %}
          step="{{- item.variant.quantity_rule.increment -}}"
          {% # theme-check-enable %}
          aria-label="{{- 'quantity.input_label' | t: product: item.title | escape -}}"
          id="Quantity-{{ item.index | plus: 1 }}-{{ section.id }}"
        >
        <button class="quantity-input_button btn-icn-ixi quantity-input_button-plus" name="plus" type="button">
          <span class="btn-icn-ixi_wrapper">
            {%- render 'icons-data', width: 8, height: 8, use_icon: true, icon_reference: 'plus' -%}
            <span class="visually-hidden" style="background-color: var(--section-background-color); color: var(--section-foreground-color);">
              {{- 'quantity.increase' | t: product: item.title | escape -}}
            </span>
          </span>
        </button>
      </quantity-input>
      <ul class="cart-actions-list list-unstyled --v-align-middle">
        <li class="cart-actions-list_item">
          <line-item-remove
            class="line-item-remove-icn-d"
            data-line-id="{{- item.index | plus: 1 -}}"
            data-parent-selector="[{{ parent_attr }}]"
            data-sections='[
              {
                "id": "cart-head",
                "selectors": ["[data-render-cart-bubble]", "[data-render-cart-text]"]
              },
              {
                "id": "cart-showcase",
                "selectors": ["[data-line-items-drawer-container]"]
              }
              {% if template == 'cart' %}
                ,
                {
                  "id": "main-cart",
                  "selectors": ["[data-line-items-container]"]
                }
              {% endif %}
            ]'
          >
            <button class="btn-icn-ixi line-item-compact_remover">
              <span class="btn-icn-ixi_wrapper">
                {%- render 'icons-data', width: 18, height: 18, use_icon: true, icon_reference: 'trash' -%}
                <span class="visually-hidden">
                  {{- 'cart.remove' | t -}}
                </span>
              </span>
            </button>
          </line-item-remove>
        </li>
        {%- if settings.enable_drawer_edit_variation -%}
          {%- unless item.product.has_only_default_variant -%}
            <li class="cart-actions-list_item">
              <strong id="{{ line_id }}-heading" class="visually-hidden">
                {{- 'cart.edit' | t: product: item.product.title -}}
              </strong>
              <dropdown-component
                data-close-button="true"
                data-parent-focus=".modal-component--cart-drawer"
              >
                <button
                  class="btn-icn-ixi line-item-compact_remover dropdown-component_opener"
                  aria-expanded="false"
                  aria-controls="{{- line_id -}}"
                  aria-describedby="{{ line_id }}-heading"
                >
                  <span class="btn-icn-ixi_wrapper">
                    {%- render 'icons-data', width: 18, height: 18, use_icon: true, icon_reference: 'pencil' -%}
                    <span class="visually-hidden">
                      {{- 'cart.edit_label' | t -}}
                    </span>
                  </span>
                </button>
                <div class="dropdown-component_wrapper line-item-edit_dropdown-wrapper" id="{{- line_id -}}" tabindex="-1">
                  {{- 'component-variant-options.css' | asset_url | stylesheet_tag -}}
                  {{- 'product-common.css' | asset_url | stylesheet_tag -}}
                  <div class="line-item-edit_wrapper scheme scheme--{{ color_scheme }}">
                    <div class="line-item-edit_head --v-align-middle">
                      {{- 'cart.edit_label' | t -}}
                      <button
                        type="button"
                        data-expanded="true"
                        class="btn-icn-ixi line-item-edit_close"
                        data-dropdown-close-btn=""
                      >
                        <span class="btn-icn-ixi_wrapper">
                          {%- render 'icons-data', width: 14, height: 14, use_icon: true, icon_reference: 'cross' -%}
                          <span class="visually-hidden">{{- 'accessibility.close' | t -}}</span>
                        </span>
                      </button>
                    </div>
                    <div class="line-item-edit_body">
                      {%- liquid
                        assign edit_product = item.product
                        assign product_json_id = 'EditCartProductJson-' | append: line_id
                        assign cart_product_form_id = 'EditCartProductAtcForm-' | append: line_id
                        assign media_template_attr = 'data-media-template-' | append: '-' | append: line_id
                        assign price_edit_render_attr = 'data-render-edit-price'

                        if edit_product.selected_or_first_available_variant.featured_media != null
                          assign first_image = edit_product.selected_or_first_available_variant.featured_media
                          else
                            for media in edit_product.media
                              assign first_image = media
                              break
                            endfor
                        endif

                        capture product_clean_url
                          if edit_product.url contains '?'
                            assign parts = edit_product.url | split: '?'
                            echo parts[0]
                            else
                              echo edit_product.url
                          endif
                        endcapture

                        assign check_against_inventory = true
                        if edit_product.selected_or_first_available_variant.inventory_management != 'shopify' or edit_product.selected_or_first_available_variant.inventory_policy == 'continue'
                          assign check_against_inventory = false
                        endif
                        if edit_product.selected_or_first_available_variant.quantity_rule.min > edit_product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
                          assign quantity_rule_soldout = true
                        endif
                      -%}
                      <div class="edit-product" data-edit-product-parent="edit-product-{{- line_id -}}">
                        <div class="edit-product_wrapper">
                          <div class="edit-product_media-wrapper">
                            <div class="edit-product_media" data-switch-wrapper="">
                              <a href="{{- product_clean_url -}}" class="--featured-image" data-media-id="{{- first_image.id -}}">
                                {%- if first_image != blank -%}
                                  {%- liquid
                                    capture image_alt
                                      if first_image.preview_image.alt != blank
                                        echo first_image.preview_image.alt | escape
                                        else
                                          echo edit_product.title | escape
                                      endif
                                    endcapture
                                  -%}
                                  {{- first_image.preview_image | image_url: width: 969 | image_tag: alt: image_alt, class: 'object-fit object-fit--absolute', loading: loading_attr, widths: '600, 800', sizes: '(max-width: 767px) 50vw, 100vw' -}}
                                  {%- else -%}
                                    {{- 'product-apparel-1' | placeholder_svg_tag: 'object-fit object-fit--absolute' -}}
                                    <span class="visually-hidden">
                                      {{- edit_product.title -}}
                                    </span>
                                  {%- endif -%}
                                </a>
                            </div>
                          </div>
                          <div class="edit-product_text-wrap">
                            <div class="edit-product_col edit-product_col--first">
                              <strong class="h6 mty edit-product_heading text-size--small">
                                <a href="{{ product_clean_url }}">
                                  {{- edit_product.title -}}
                                </a>
                              </strong>
                              <div class="edit_product-product-price" {{ price_edit_render_attr }}>
                                {%- render 'product-price', product: edit_product, use_variant: false, show_unit_price: true -%}
                              </div>
                            </div>
                            <div class="edit-product_col edit-product_col--second">
                              <product-variants
                                data-json-selector="#{{- product_json_id -}}"
                                data-forms='["#{{ cart_product_form_id }}"]'
                                data-renders='["[{{ price_edit_render_attr }}]"]'
                                data-section-id="product-organizer"
                                data-product-url="{{- product_clean_url -}}"
                                data-update-url="false"
                                data-parent='true'
                                data-parent-selector="[data-edit-product-parent='edit-product-{{- line_id -}}']"
                                data-media-template="[{{- media_template_attr -}}]"
                                {% if settings.show_edit_swatches == 'images' %}
                                  data-swatch="image"
                                {% endif %}
                              >
                                {%- for option in edit_product.options_with_values -%}
                                  {%- liquid
                                    unless settings.show_edit_swatches == 'none'
                                      capture has_color_variant
                                        for value in option.values
                                          if settings.show_edit_swatches == 'swatches'
                                            if value.swatch.image
                                              echo 'true'
                                              break
                                              elsif value.swatch.color
                                                echo 'true'
                                                break
                                            endif
                                            else
                                              if option.name == 'color' or option.name == 'Color' or option.name == 'colour' or option.name == 'Colour'
                                                echo 'true'
                                                break
                                              endif
                                          endif
                                        endfor
                                      endcapture
                                    endunless

                                    capture selected_variant
                                      for option_cart in item.options_with_values
                                        if option.name == option_cart.name
                                          echo option_cart.value
                                          break
                                        endif
                                      endfor
                                    endcapture
                                  -%}
                                  <fieldset class="{% if has_color_variant == 'true' %}product-variant_fieldset{% endif %}">
                                    <legend class="product-variant_title h6 --word-break">
                                      {{- option.name -}}: <strong class="line-item_selected-variant visually-hidden">{{- selected_variant -}}</strong>
                                    </legend>
                                    {% if has_color_variant == 'true' %}
                                      <div class="product-variant_options-wrap --v-align-middle product-variant_options-wrap--clr-swatch">
                                        {%- render 'product-variant-options', product: edit_product, option: option, product_form_id: cart_product_form_id, swatches: settings.show_edit_swatches, check_selected: true, selected_variant: selected_variant -%}
                                      </div>
                                      {%- else -%}
                                        <div class="product-variant_options-wrap product-common_product-variant_options-wrap --v-align-middle">
                                          {%- render 'product-variant-options', product: edit_product, option: option, product_form_id: cart_product_form_id, swatches: settings.show_edit_swatches, check_selected: true, selected_variant: selected_variant -%}
                                        </div>
                                    {%- endif -%}
                                  </fieldset>
                                {%- endfor -%}
                              </product-variants>
                            </div>
                          </div>
                        </div>
                        <div class="product-edit-btn">
                          {%- form 'product',
                            edit_product,
                            id: cart_product_form_id,
                            class: form_class,
                            novalidate: 'novalidate',
                            data-type: 'add-to-cart-form'
                          -%}
                            {%- liquid
                              assign check_against_inventory = true
                              if edit_product.selected_or_first_available_variant.inventory_management != 'shopify' or edit_product.selected_or_first_available_variant.inventory_policy == 'continue'
                                assign check_against_inventory = false
                              endif
                              if edit_product.selected_or_first_available_variant.quantity_rule.min > edit_product.selected_or_first_available_variant.inventory_quantity and check_against_inventory
                                assign quantity_rule_soldout = true
                              endif
                            -%}
                            <input
                              type="hidden"
                              name="id"
                              value="{{- item.id -}}"
                            >
                            <input
                              type="hidden"
                              name="quantity"
                              value="{{- item.quantity -}}"
                            >
                            <atc-submit-form
                              data-error-selector="[{{ error_render_attr }}]"
                              data-form="#{{ cart_product_form_id }}"
                              data-parent='true'
                              data-parent-selector="[data-edit-product-parent='edit-product-{{- line_id -}}']"
                              data-update-line-id="{{- index -}}"
                              data-sections='[
                                {
                                  "id": "cart-head",
                                  "selectors": ["[data-render-cart-bubble]", "[data-render-cart-text]"]
                                },
                                {
                                  "id": "cart-showcase",
                                  "selectors": ["[data-line-items-drawer-container]"]
                                }
                                {% if template == 'cart' %}
                                  ,
                                  {
                                    "id": "main-cart",
                                    "selectors": ["[data-line-items-container]"]
                                  }
                                {% endif %}
                              ]'
                            >
                              <button
                                type="submit"
                                name="add"
                                class="button button--primary cart-drawer_btn-submit edit-btn"
                                {% if edit_product.selected_or_first_available_variant.available == false or quantity_rule_soldout %}
                                  disabled
                                {% endif %}
                              >
                                <span data-atc-text="" data-atc-text-avail="{{- 'cart.update_cart' | t -}}" data-atc-text-unavail="{{- 'product.atc_buttons.unavailable' | t -}}">
                                  {{- 'cart.update_cart' | t -}}
                                </span>
                              </button>
                            </atc-submit-form>
                          {%- endform -%}
                        </div>
                        <div class="product-column_error-container hidden" {{ error_render_attr }}>
                          <span data-error=""></span>
                        </div>
                      </div>
                      <script id="{{- product_json_id -}}" type="application/json">
                        {{- edit_product | json -}}
                      </script>
                      <template {{ media_template_attr }}>
                        <a href="{{- product_clean_url -}}" class="--featured-image" data-media-id="{{- first_image.id -}}">
                          {%- if first_image != blank -%}
                            {%- liquid
                              capture image_alt
                                if first_image.preview_image.alt != blank
                                  echo first_image.preview_image.alt | escape
                                  else
                                    echo edit_product.title | escape
                                endif
                              endcapture
                            -%}
                            {{- first_image.preview_image | image_url: width: 969 | image_tag: alt: image_alt, class: 'object-fit object-fit--absolute', loading: 'lazy', widths: '646, 969', sizes: '(max-width: 767px) 646vw, 969vw' -}}
                            {%- else -%}
                              {{- 'product-apparel-1' | placeholder_svg_tag: 'object-fit object-fit--absolute' -}}
                              <span class="visually-hidden">
                                {{- product.title -}}
                              </span>
                          {%- endif -%}
                        </a>
                        {%- for variant in edit_product.variants -%}
                          {%- liquid
                            capture image_alt
                              if variant.featured_image.alt != blank
                                echo variant.featured_image.alt | escape
                                else
                                  echo variant.title | prepend: edit_product.title
                              endif
                            endcapture
                          -%}
                          <a href="{{- product_clean_url -}}" class="--template-image" data-media-id="{{ variant.featured_media.id }}">
                            {%- unless variant.featured_image == blank -%}
                              {{- variant.featured_image.src | image_url: width: 969 | image_tag: alt: image_alt, class: 'object-fit object-fit--absolute', loading: loading, widths: '646, 969', sizes: '(max-width: 767px) 646vw, 969vw' -}}
                              {%- else -%}
                                {{- 'product-apparel-1' | placeholder_svg_tag: 'object-fit object-fit--absolute' -}}
                                <span class="visually-hidden">
                                  {{- image_alt -}}
                                </span>
                            {%- endunless -%}
                          </a>
                        {%- endfor -%}
                      </template>
                    </div>
                  </div>
                </div>
              </dropdown-component>
            </li>
          {%- endunless -%}
        {%- endif -%}
      </ul>
    </div>
    <div class="line-item-compact_error-wrap --word-break hidden" data-render-error="">
      {% comment %} errors rendering here {% endcomment %}
    </div>
  </div>
  <span class="loader line-item-compact_loader --v-align-middle hidden --justify-center" data-loader="">
    {%- render 'icons-data', width: 20, height: 20, use_icon: true, icon_reference: 'loader' -%}
    <span class="visually-hidden">
      {{- 'accessibility.loader' | t -}}
    </span>
  </span>
</div>