{%- liquid
  assign section_prefix_class = 'custom-liquid'
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'

  capture container_class
    if section.settings.section_full_width
      echo 'container-fluid'
      else
        echo 'container'
    endif
  endcapture
-%}
{%- style -%}
  .{{ section_prefix_class }}-{{ section.id }}{
    --section-padding-top: {{ section.settings.section_top_padding }}px;
    --section-padding-bottom: {{ section.settings.section_bottom_padding }}px;
  }
{%- endstyle -%}
<div class="global-block {{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {{ section_scheme_class }} --align-{{ section.settings.section_text_alignment }}">
  <div class="{{ container_class }}">
    <div class="{{ section_prefix_class }}_wrapper">
      {{- section.settings.custom_liquid -}}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:custom_liquid.name",
  "tag": "section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:custom_liquid.label",
      "info": "t:custom_liquid.info"
    },
    {
      "type": "header",
      "content": "t:layout.content"
    },
    {
      "type": "checkbox",
      "id": "section_full_width",
      "label": "t:sections.full_width.label",
      "default": false
    },
    {
      "type": "text_alignment",
      "id": "section_text_alignment",
      "label": "t:alignments.content.desktop.label",
      "default": "center"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme1",
      "label": "t:color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:spacing.settings.top.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 60,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:spacing.settings.bottom.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 60,
      "unit": "px"
    }
  ],
  "presets": [
    {
      "name": "t:custom_liquid.name"
    }
  ]
}
{% endschema %}