{%- liquid
  assign section_prefix_class = 'image-gallery'
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'

  capture section_heading_size
    case section.settings.section_heading_size
      when 'heading_xx_large'
        echo 'h1'
      when 'heading_x_large'
        echo 'h2'
      when 'heading_large'
        echo 'h3'
      when 'heading_medium'
        echo 'h4'
      else
        echo 'h'
    endcase
  endcapture

  capture section_heading_weight
    case section.settings.section_heading_weight
      when 'bold'
        echo '--fw-bold'
      when 'semi_bold'
        echo '--fw-semi-bold'
      when 'medium'
        echo '--fw-medium'
      when 'normal'
        echo '--fw-normal'
    endcase
  endcapture

  capture section_description_weight
    case section.settings.section_description_weight
      when 'bold'
        echo '--fw-bold'
      when 'semi_bold'
        echo '--fw-semi-bold'
      when 'medium'
        echo '--fw-medium'
      when 'normal'
        echo '--fw-normal'
    endcase
  endcapture

  capture max_header_size
    echo settings.page_width | times: section.settings.max_header_size | divided_by: 100
  endcapture

  capture loading_attr
    if section.index > 1
      echo 'lazy'
      else
        echo 'eager'
    endif
  endcapture

  capture container_class
    if section.settings.section_full_width
      echo 'container-fluid'
      else
        echo 'container'
    endif
  endcapture

  capture remove_grid_spacings
    if section.settings.remove_grid_spacing
      echo '--no-space'
    endif
  endcapture
-%}
{%- style -%}
  .{{ section_prefix_class }}-{{ section.id }}{
    --section-slider-radius: 10px;
    --section-padding-top: {{ section.settings.section_top_padding }}px;
    --section-padding-bottom: {{ section.settings.section_bottom_padding }}px;
  }
{%- endstyle -%}
{{- 'image-gallery.css' | asset_url | stylesheet_tag -}}
<div class="global-block {{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {{ section_scheme_class }}">
  <div class="{{ section_prefix_class }}_wrapper">
    <div class="container" style="--cp-width: {{ max_header_size }}">
      {%- if section.settings.section_heading != blank or section.settings.section_description != blank -%}
        <header class="heading-head --word-break --align-{{ section.settings.section_text_alignment }}">
          {%- if section.settings.section_heading != blank -%}
            <h2 class="{{ section_prefix_class }}_heading {{ section_heading_weight }} --h-anchor-none {{ section_heading_size }} mty">
              {{- section.settings.section_heading -}}
            </h2>
          {%- endif -%}
          {%- if section.settings.section_description != blank -%}
            <div class="{{ section_prefix_class }}_description --word-break {{ section_description_weight }} text-size--{{ section.settings.description_text_size }} mty">
              <p>{{- section.settings.section_description -}}</p>
            </div>
          {%- endif -%}
        </header>
      {%- endif -%}
    </div>
    <div class="{{ container_class }}">
      {%- liquid
        capture marquee_direction
          if section.settings.marquee_direction == 'marquee_forward'
            echo 'forward'
            else
              echo 'backward'
          endif
        endcapture
      -%}
      <div class="{{ section_prefix_class }}_slide {{ remove_grid_spacings }}">
        <marquee-component data-direction="{{ marquee_direction }}" data-pause-on-hover="{{ section.settings.marquee_on_hover }}" data-speed="{{ section.settings.marquee_speed }}">
          <div class="marquee-component">
            {%- for block in section.blocks -%}
              {%- liquid
                capture image_alt
                  if block.settings.image.alt != blank
                    echo block.settings.image.alt
                    else
                      echo 'image_gallery.image_alt' | t: index: forloop.index
                  endif
                endcapture

                capture placeholder_image
                  if forloop.index > 3
                    echo 'hero-apparel-1'
                    else
                      echo 'hero-apparel-' | append: forloop.index
                  endif
                endcapture
              -%}
              <div class="marquee-component_col {{ section_prefix_class }}_marquee-col">
                <div class="{{ section_prefix_class }}_image">
                  {%- if block.settings.image != blank -%}
                    {{- block.settings.image | image_url: width: 508 | image_tag: alt: image_alt, class: 'object-fit object-fit--absolute',  loading: loading_attr, widths: '254, 508', sizes: '(max-width: 767px) 254px, 508px' -}}
                    {% else %}
                      {{- placeholder_image | placeholder_svg_tag: 'object-fit object-fit--absolute' -}}
                  {%- endif -%}
                </div>
              </div>
            {%- endfor -%}
          </div>
        </marquee-component>
        {%- if section.settings.caption != blank or section.settings.button_label != blank -%}
          <div class="{{ section_prefix_class }}_caption-wrap align-holder --align-center align-holder--{{ section.settings.caption_content_alignment }}">
            <div class="align-holder_wrapper">
              {%- if section.settings.caption != blank -%}
                <strong class="{{ section_prefix_class }}_caption text-size--large --word-break --fw-normal">
                  {{- section.settings.caption -}}
                </strong>
              {%- endif -%}
              {%- if section.settings.button_label != blank -%}
                <div class="{{ section_prefix_class }}_btn-wrap">
                  <a
                    {% if section.settings.url != blank -%}href="{{ section.settings.url }}" {% if section.settings.open_new_window %}target="_blank"{% endif %}{% else %} aria-disabled="true" {% endif %}
                    class="button button--{{ section.settings.type }} {{ section_prefix_class }}_btn --fw-bold"
                  >
                    {{- section.settings.button_label -}}
                  </a>
                </div>
              {%- endif -%}
            </div>
          </div>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.image_gallery.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:sections.head.content"
    },
    {
      "type": "inline_richtext",
      "id": "section_heading",
      "label": "t:heading.label",
      "default": "Image Gallery"
    },
    {
      "type": "select",
      "id": "section_heading_size",
      "label": "t:sizes.heading.label",
      "options": [
        {
          "value": "heading_xx_large",
          "label": "t:sizes.heading.options.opt_1.label"
        },
        {
          "value": "heading_x_large",
          "label": "t:sizes.heading.options.opt_2.label"
        },
        {
          "value": "heading_large",
          "label": "t:sizes.heading.options.opt_3.label"
        },
        {
          "value": "heading_medium",
          "label": "t:sizes.heading.options.opt_4.label"
        }
      ],
      "default": "heading_large"
    },
    {
      "type": "select",
      "id": "section_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "semi_bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "normal",
          "label": "t:weight.heading.options.opt_3.label"
        }
      ],
      "default": "bold"
    },
    {
      "type": "inline_richtext",
      "id": "section_description",
      "label": "t:description_text.label",
      "default": "Experience the Elegance and Style in Every Image"
    },
    {
      "type": "select",
      "id": "description_text_size",
      "label": "t:sizes.description_text.label",
      "options": [
        {
          "value": "small",
          "label": "t:sizes.text.options.opt_1.label"
        },
        {
          "value": "medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "large",
          "label": "t:sizes.text.options.opt_3.label"
        },
        {
          "value": "xlarge",
          "label": "t:sizes.text.options.opt_4.label"
        }
      ],
      "default": "large"
    },
    {
      "type": "select",
      "id": "section_description_weight",
      "label": "t:weight.description_text.label",
      "options": [
        {
          "value": "bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "semi_bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "normal",
          "label": "t:weight.heading.options.opt_3.label"
        }
      ],
      "default": "normal"
    },
    {
      "type": "range",
      "id": "max_header_size",
      "label": "t:sections.head.size.label",
      "min": 50,
      "max": 100,
      "step": 5,
      "default": 100,
      "unit": "%"
    },
    {
      "type": "header",
      "content": "t:caption.content"
    },
    {
      "type": "select",
      "id": "caption_content_alignment",
      "label": "t:alignments.content.label",
      "options": [
        {
          "value": "tcenter",
          "label": "t:positions.options.top"
        },
        {
          "value": "mcenter",
          "label": "t:positions.options.middle"
        },
        {
          "value": "bcenter",
          "label": "t:positions.options.bottom"
        }
      ],
      "default": "mcenter"
    },
    {
      "type": "text",
      "id": "caption",
      "label": "t:text.label",
      "default": "Follow on Instagram"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "t:settings_schema.buttons.settings.button.label",
      "default": "@SWANKY ON INSTAGRAM"
    },
    {
      "type": "select",
      "id": "type",
      "label": "t:settings_schema.buttons.settings.button.type.label",
      "options": [
        {
          "value": "primary",
          "label": "t:settings_schema.buttons.settings.button.type.opt_1.label"
        },
        {
          "value": "secondary",
          "label": "t:settings_schema.buttons.settings.button.type.opt_2.label"
        }
      ],
      "default": "secondary"
    },
    {
      "type": "url",
      "id": "url",
      "label": "t:settings_schema.buttons.settings.button.link.label"
    },
    {
      "type": "checkbox",
      "id": "open_new_window",
      "label": "t:target_blank.label",
      "default": true
    },
    {
      "type": "header",
      "content": "t:layout.content"
    },
    {
      "type": "checkbox",
      "id": "section_full_width",
      "label": "t:sections.full_width.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "remove_grid_spacing",
      "label": "t:grid.remove_grid_spacing.label",
      "default": true
    },
    {
      "type": "text_alignment",
      "id": "section_text_alignment",
      "label": "t:alignments.text.label",
      "default": "center"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme1",
      "label": "t:color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:scroll.content"
    },
    {
      "type": "range",
      "id": "marquee_speed",
      "label": "t:scroll.settings.speed.label",
      "min": 1,
      "max": 30,
      "step": 1,
      "default": 15,
      "unit": "sec"
    },
    {
      "type": "select",
      "id": "marquee_direction",
      "label": "t:scroll.settings.direction.label",
      "options": [
        {
          "value": "marquee_backward",
          "label": "t:scroll.settings.direction.options.opt_1.label"
        },
        {
          "value": "marquee_forward",
          "label": "t:scroll.settings.direction.options.opt_2.label"
        }
      ],
      "default": "marquee_backward"
    },
    {
      "type": "checkbox",
      "label": "t:scroll.settings.on_hover.label",
      "id": "marquee_on_hover",
      "default": false
    },
    {
      "type": "header",
      "content": "t:spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:spacing.settings.top.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 60,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:spacing.settings.bottom.label",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 60,
      "unit": "px"
    }
  ],
  "blocks": [
    {
      "name": "t:image.label",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:image.label",
          "info": "t:sections.image_gallery.blocks.image.info"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image_gallery.name",
      "blocks": [
        {
          "type": "image",
          "settings": {
          }
        },
        {
          "type": "image",
          "settings": {
          }
        },
        {
          "type": "image",
          "settings": {
          }
        }
      ]
    }
  ]
}
{% endschema %}