{{- 'main-password.css' | asset_url | stylesheet_tag -}}
{%- liquid
  assign section_prefix_class = 'main-password'
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'
  assign form_id = 'main-password-' | append: section.id

  capture main_heading
    if section.settings.heading != blank
      echo section.settings.heading
      else
        echo 'password.main.main_heading' | t
    endif
  endcapture

  capture section_heading_size
    case section.settings.section_heading_size
      when 'heading_xx_large'
        echo 'h1'
      when 'heading_x_large'
        echo 'h2'
      when 'heading_large'
        echo 'h3'
      when 'heading_medium'
        echo 'h4'
      else
        echo 'h'
    endcase
  endcapture

  capture section_heading_weight
    case section.settings.section_heading_weight
      when 'bold'
        echo '--fw-bold'
      when 'semi_bold'
        echo '--fw-semi-bold'
      when 'medium'
        echo '--fw-medium'
      when 'normal'
        echo '--fw-normal'
    endcase
  endcapture

  capture loading_attr
    if section.index > 1
      echo 'lazy'
      else
        echo 'eager'
    endif
  endcapture
-%}
{%- style -%}
  .{{ section_prefix_class }}-{{ section.id }}{
    --logo-desktop-width: {{ section.settings.logo_desktop_width }}px;
    --logo-mobile-width: {{ section.settings.logo_mobile_width }}px;
  }

  .{{ section_prefix_class }}-{{ section.id }} .main-password_form-align{
    width: 100%;
  }
{%- endstyle -%}
<div class="global-block {{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {{ section_scheme_class }}">
  <div class="container-fluid">
    <div class="{{ section_prefix_class }}_wrapper">
      {%- if section.settings.image != blank -%}
        <div class="{{ section_prefix_class }}_column {{ section_prefix_class }}_column--image">
          <div class="{{ section_prefix_class }}_img">
            {%- liquid
              capture image_alt
                if section.settings.image.alt != blank
                  echo section.settings.image.alt
                  else
                    echo main_heading | escape
                endif
              endcapture
            -%}
            {{- section.settings.image | image_url: width: 1944 | image_tag: class: 'object-fit object-fit--absolute', loading: loading_attr, alt: image_alt, widths: '972, 1944', sizes: '(max-width: 767px) 972vw, 1944vw' -}}
          </div>
        </div>
      {%- endif -%}
      <div class="{{ section_prefix_class }}_column {{ section_prefix_class }}_column--form align-holder align-holder--mcenter">
        <div class="{{ section_prefix_class }}_form-align align-holder_wrapper">
          <h1 class="{{ section_prefix_class }}_logo-heading h6 mty">
            <a href="{{- routes.root_url -}}" class="{{ section_prefix_class }}_logo-image">
              {%- liquid
                assign logo_alt = section.settings.logo.alt | default: shop.name | escape
                assign logo_height = 610 | divided_by: section.settings.logo.aspect_ratio
                assign logo_height = logo_height | round
              -%}
              {%- if section.settings.logo != blank -%}
                {%- capture sizes -%}
                  (max-width: {{ 610 | times: 2 }}px) 50vw, {{ 610 }}px
                {%- endcapture -%}
                {%- capture widths -%}
                  {{ 610 }}, {{ 610 | times: 1.5 | round }}, {{ 610 | times: 2 }}
                {%- endcapture -%}
                {{- section.settings.logo | image_url: width: 610 | image_tag: class: '', widths: widths, height: logo_height, alt: logo_alt, sizes: sizes, preload: true -}}
                {%- else -%}
                  {{- shop.name -}}
              {%- endif -%}
            </a>
          </h1>
          <password-component>
            <div id="access-email" class="transit transit--in">
              {%- if section.settings.heading != blank -%}
                <header class="{{ section_prefix_class }}_heading-head">
                  <h2 class="{{ section_prefix_class }}_heading --h-anchor-none {{ section_heading_weight }} {{ section_heading_size }} mty">
                    {{- main_heading -}}
                  </h2>
                </header>
                {%- else -%}
                  <header class="visually-hidden">
                    <h2>
                      {{- main_heading -}}
                    </h2>
                  </header>
              {%- endif -%}
              {%- form 'customer', id: form_id, class: 'isolate' -%}
                <input type="hidden" name="contact[tags]" value="newsletter">
                <div class="{{ section_prefix_class }}_form-group">
                  <label for="emailaddress" class="{{ section_prefix_class }}_form-input-lable">
                    {{- 'account.email_label' | t -}}
                  </label>
                  <input
                    id="emailaddress"
                    type="email"
                    placeholder="{{- 'account.email_label' | t -}}"
                    name="contact[email]"
                    autocapitalize="off"
                    autocomplete="email"
                    value="{{ form.email }}"
                    aria-required="true"
                    onkeydown="validation()"
                    {% if form.errors %}
                      autofocus
                      aria-invalid="true"
                      aria-describedby="PasswordLoginForm-email-error"
                    {% elsif form.posted_successfully? %}
                      aria-describedby="PasswordLoginForm-email-success"
                    {% endif %}
                    required
                  >
                  <div class="{{ section_prefix_class }}_results-wrap results-wrap_message"></div>
                  {%- if form.errors -%}
                    <div id="PasswordLoginForm-email-error" class="{{ section_prefix_class }}_error-wrapper" role="status">
                      <i class="{{ section_prefix_class }}_error-icn">
                        {%- render 'icons-data', width: 22, height: 22, use_icon: true, icon_reference: 'error' -%}
                      </i>
                      <span class="visually-hidden">
                        {{- 'erorr.error_text' | t -}}
                      </span>
                      {{- 'erorr.mail_form_error' | t -}}
                    </div>
                  {%- endif -%}
                </div>
                <div class="{{ section_prefix_class }}_btn-wrapper mty">
                  <button type="submit" class="button button--primary {{ section_prefix_class }}_form-btn">
                    {{- 'password.main.notify_btn_label' | t -}}
                  </button>
                </div>
                {%- if form.posted_successfully? -%}
                  <div id="PasswordLoginForm-email-success" class="{{ section_prefix_class }}_success-wrapper --align-center text-size--large" role="status" tabindex="-1" autofocus>
                    <span class="visually-hidden">
                      {{- 'success.success_text' | t -}}
                    </span>
                    <i class="{{ section_prefix_class }}_pass-icn">
                      {%- render 'icons-data', width: 54, height: 54, use_icon: true, icon_reference: 'smile' -%}
                    </i>
                    {{- 'success.thanks_message' | t -}}
                    <br>
                    {{- 'success.get_back_message' | t -}}
                  </div>
                {%- endif -%}
              {%- endform -%}
              <div class="{{ section_prefix_class }}_btn-wrapper mty">
                <button class="button button--link {{ section_prefix_class }}_pass-btn" data-target-id="access-password">
                  <i class="button_icn">
                    {%- render 'icons-data', width: 24, height: 24, use_icon: true, icon_reference: 'lock' -%}
                  </i>
                  {{- 'password.main.enter_btn_label' | t -}}
                </button>
              </div>
            </div>
            <div id="access-password" class="transit transit--out">
              <header class="{{ section_prefix_class }}_heading-head">
                <h2 class="{{ section_prefix_class }}_heading --h-anchor-none {{ section_heading_size }} mty">
                  {{- 'password.main.pass_heading' | t -}}
                </h2>
                <div class="{{ section_prefix_class }}_description text-size--medium mty">
                  <p>{{- 'password.main.pass_para' | t -}}</p>
                </div>
              </header>
              {%- form 'storefront_password', class: 'password-form' -%}
                <div class="{{ section_prefix_class }}_form {{ section_prefix_class }}_form-wrapper">
                  <div class="{{ section_prefix_class }}_form-group">
                    <label for="password" class="{{ section_prefix_class }}_form-input-lable">
                      {{- 'account.pass_label' | t -}}
                    </label>
                    <input
                      id="password"
                      type="password"
                      name="password"
                      placeholder="{{- 'account.pass_label' | t -}}"
                      autocomplete="current-password"
                      {% if form.errors %}
                        aria-invalid="true"
                        aria-describedby="PasswordLoginForm-password-error"
                      {% endif %}
                    >
                    {%- if form.errors -%}
                      <div id="PasswordLoginForm-password-error" class="{{ section_prefix_class }}_error-wrapper" role="status">
                        <i class="{{ section_prefix_class }}_role-icn">
                          {%- render 'icons-data', width: 22, height: 22, use_icon: true, icon_reference: 'error' -%}
                        </i>
                        <span class="visually-hidden">
                          {{- 'erorr.error_text' | t -}}
                        </span>
                        {{- 'password.main.pass_form_error' | t -}}
                      </div>
                    {%- endif -%}
                  </div>
                  <div class="{{ section_prefix_class }}_btn-wrapper mty">
                    <button type="submit" class="button button--primary {{ section_prefix_class }}_form-btn">
                      {{- 'password.main.pass_btn_label' | t -}}
                    </button>
                  </div>
                </div>
              {%- endform -%}
              <div class="{{ section_prefix_class }}_btn-wrapper mty">
                <button class="button button--link {{ section_prefix_class }}_pass-btn {{ section_prefix_class }}_btn--back" data-target-id="access-email">
                  <i class="button_icn">
                    {%- render 'icons-data', width: 14, height: 14, use_icon: true, icon_reference: 'left-arrow' -%}
                  </i>
                  {{- 'password.main.back_btn_label' | t -}}
                </button>
              </div>
            </div>
          </password-component>
          {%- if shop.password_message != blank -%}
            <div class="{{ section_prefix_class }}_shop-msg">
              {{- shop.password_message -}}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.password.main.name",
  "tag": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:heading.label",
      "default": "Opening Soon"
    },
    {
      "type": "select",
      "id": "section_heading_size",
      "label": "t:sizes.heading.label",
      "options": [
        {
          "value": "heading_xx_large",
          "label": "t:sizes.heading.options.opt_1.label"
        },
        {
          "value": "heading_x_large",
          "label": "t:sizes.heading.options.opt_2.label"
        },
        {
          "value": "heading_large",
          "label": "t:sizes.heading.options.opt_3.label"
        },
        {
          "value": "heading_medium",
          "label": "t:sizes.heading.options.opt_4.label"
        }
      ],
      "default": "heading_x_large"
    },
    {
      "type": "select",
      "id": "section_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "semi_bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "normal",
          "label": "t:weight.heading.options.opt_3.label"
        }
      ],
      "default": "bold"
    },
    {
      "type": "header",
      "content": "t:site_logo.content"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:image.label",
      "info": "t:site_logo.info"
    },
    {
      "type": "range",
      "id": "logo_desktop_width",
      "label": "t:image.width.desktop.label",
      "min": 100,
      "max": 200,
      "step": 1,
      "default": 133,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "logo_mobile_width",
      "label": "t:image.width.mobile.label",
      "min": 90,
      "max": 150,
      "step": 1,
      "default": 133,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "t:settings_schema.layout.name"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.before_login.settings.banner.label",
      "info": "t:sections.before_login.settings.banner.info"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme1",
      "label": "t:settings_schema.color_schemes.name"
    }
  ]
}
{% endschema %}