{{- 'component-breadcrumb.css' | asset_url | stylesheet_tag -}}
{{- 'main-login.css' | asset_url | stylesheet_tag -}}
{%- liquid
  assign section_prefix_class = 'main-login'
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'

  capture main_heading
    if section.settings.heading != blank
      echo section.settings.heading
      else
        echo 'main_login.main_heading' | t
    endif
  endcapture

  capture section_heading_size
    case section.settings.section_heading_size
      when 'heading_x_large'
        echo 'h2'
      when 'heading_large'
        echo 'h3'
      when 'heading_medium'
        echo 'h4'
      else
        echo 'h'
    endcase
  endcapture

  capture section_heading_weight
    case section.settings.section_heading_weight
      when 'bold'
        echo '--fw-bold'
      when 'semi_bold'
        echo '--fw-semi-bold'
      when 'medium'
        echo '--fw-medium'
      when 'normal'
        echo '--fw-normal'
    endcase
  endcapture

  capture loading_attr
    if section.index > 1
      echo 'lazy'
      else
        echo 'eager'
    endif
  endcapture

  if section.settings.enable_shop_login_button == false
    assign hide_shop_login_button = true
  endif
  
-%}
<script src="{{ 'login-component.js' | asset_url }}" defer="defer"></script>
{%- liquid
  if section.settings.show_breadcrumb
    render 'breadcrumb', border_top: section.settings.show_top_bdr, border_bottom: section.settings.show_bottom_bdr, color_scheme: section.settings.breadcrumb_color_scheme
  endif
-%}
<div class="global-block {{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {{ section_scheme_class }}">
  <div class="container-fluid">
    <div class="{{ section_prefix_class }}_wrapper">
      {%- if section.settings.image != blank -%}
        <div class="{{ section_prefix_class }}_column {{ section_prefix_class }}_column--image">
          <div class="{{ section_prefix_class }}_img">
            {{- section.settings.image | image_url: width: 1944 | image_tag: class: 'object-fit object-fit--absolute', loading: loading_attr, alt: main_heading, widths: '972, 1944', sizes: '(max-width: 767px) 972vw, 1944vw' -}}
          </div>
        </div>
      {%- endif -%}
      <div class="{{ section_prefix_class }}_column {{ section_prefix_class }}_column--form align-holder align-holder--mcenter">
        <div class="{{ section_prefix_class }}_form-align align-holder_wrapper">
          <login-component>
            <div id="access-element1" class="transit transit--in">
              {%- if section.settings.heading != blank -%}
                <header class="{{ section_prefix_class }}_heading-head --align-center">
                  <h1 class="{{ section_prefix_class }}_heading --h-anchor-none {{ section_heading_size }} {{ section_heading_weight }} mty">
                    {{- main_heading -}}
                  </h1>
                  <div class="{{ section_prefix_class }}_description text-size--medium mty">
                    <p>{{- 'account.req_fields_text' | t -}}</p>
                  </div>
                </header>
                {%- else -%}
                  <header class="visually-hidden --align-center">
                    <h1>
                      {{- main_heading -}}
                    </h1>
                  </header>
                  <div class="{{ section_prefix_class }}_description text-size--medium mty">
                    <p>{{- 'account.req_fields_text' | t -}}</p>
                  </div>
              {%- endif -%}
              {%- if shop.features.login_with_shop_classic_customer_accounts? -%}
                <div name="sign-in-with-shop-provider" class="--align-center">
                  {{ shop | login_button: hide_button: hide_shop_login_button }}
        
                  {%- unless hide_shop_login_button -%}
                    <p>
                      {{ 'customer.login_page.alternate_provider_separator' | t }}
                    </p>
                  {%- endunless -%}
                </div>
              {%- endif -%}
              {%- form 'customer_login', novalidate: 'novalidate' -%}
                {%- if form.errors != blank -%}
                  <strong class="form__message mty" role="alert" tabindex="-1" autofocus>
                    {%- render 'icons-data', width: 22, height: 22, use_icon: true, icon_reference: 'error' -%}
                    {{- 'erorr.common_heading' | t -}}
                  </strong>
                  {{- form.errors | default_errors -}}
                {%- endif -%}
                <div class="{{ section_prefix_class }}_form-group">
                  <label for="loginemailaddress" class="{{ section_prefix_class }}_form-input-lable">
                    {{- 'account.email_label' | t -}}
                  </label>
                  <input
                    type="email"
                    name="customer[email]"
                    id="loginemailaddress"
                    autocomplete="email"
                    autocapitalize="off"
                    {% if form.errors contains 'form' %}
                      aria-invalid="true"
                    {% endif %}
                    placeholder="{{- 'account.email_label' | t -}}"
                  >
                </div>
                {%- if form.password_needed -%}
                  <div class="{{ section_prefix_class }}_form-group">
                    <label for="loginpassword" class="{{ section_prefix_class }}_form-input-lable">
                      {{- 'account.pass_label' | t -}}
                    </label>
                    <input
                      type="password"
                      name="customer[password]"
                      id="loginpassword"
                      autocomplete="current-password"
                      autocapitalize="off"
                      value=""
                      {% if form.errors contains 'form' %}
                        aria-invalid="true"
                      {% endif %}
                      placeholder="{{- 'account.pass_label' | t -}}"
                    >
                  </div>
                {%- endif -%}
                <div class="{{ section_prefix_class }}_btn-wrapper mty">
                  <button type="submit" class="button button--primary {{ section_prefix_class }}_form-btn">
                    {{- 'account.btn_label' | t -}}
                  </button>
                </div>
                <div class="{{ section_prefix_class }}_foot-wrapper text-size--small mty --align-center">
                  {%- if form.password_needed -%}
                    <button class="button button--link {{ section_prefix_class }}_forget-btn" type="button" data-target-id="access-element2">
                      {{- 'main_login.forgot_btn_label' | t -}}
                    </button>
                  {%- endif -%}
                  <p>
                    {{- 'main_login.create_account' | t }} <a href="{{- routes.account_register_url -}}" class="button button--link {{ section_prefix_class }}_register-link">{{- 'account.sign_up' | t -}}</a>
                  </p>
                </div>
              {%- endform -%}
            </div>
            <div id="access-element2" class="transit transit--out">
              <header class="{{ section_prefix_class }}_heading-head --align-center">
                <h2 class="{{ section_prefix_class }}_heading --h-anchor-none {{ section_heading_size }} {{ section_heading_weight }} mty">
                  {{- 'account.reset_heading' | t -}}
                </h2>
                <div class="{{ section_prefix_class }}_description text-size--medium mty">
                  <p>{{- 'account.req_fields_text' | t -}}</p>
                </div>
              </header>
              {%- form 'recover_customer_password' -%}
                {% assign recover_success = form.posted_successfully? %}
                <div class="{{ section_prefix_class }}_form-group">
                  <label for="recoveremail" class="{{ section_prefix_class }}_form-input-lable">
                    {{- 'account.email_label' | t -}}
                  </label>
                  <input
                    type="email"
                    value=""
                    name="email"
                    id="recoveremail"
                    autocapitalize="off"
                    autocomplete="email"
                    {% if form.errors %}
                      aria-invalid="true"
                      aria-describedby="recoveremail-email-error"
                      autofocus
                    {% endif %}
                    placeholder="{{ 'account.email_label' | t }}"
                  >
                  {%- if form.errors -%}
                    <div id="recoveremail-email-error" class="{{ section_prefix_class }}_error-wrapper" role="status">
                      <i class="{{ section_prefix_class }}_role-icn">
                        {%- render 'icons-data', width: 22, height: 22, use_icon: true, icon_reference: 'error' -%}
                      </i>
                      {{- form.errors.messages.form -}}
                    </div>
                  {%- endif -%}
                </div>
                <div class="{{ section_prefix_class }}_btn-wrapper text-size--small mty --align-center">
                  <button type="submit" class="button button--primary {{ section_prefix_class }}_form-btn">
                    {{- 'main_login.reset_btn_label' | t -}}
                  </button>
                  <button class="button button--link {{ section_prefix_class }}_cancel-btn" type="button" data-target-id="access-element1">
                    {{- 'main_login.cancel_btn_label' | t -}}
                  </button>
                </div>
                {%- if recover_success == true -%}
                  <div id="recoveremail-email-success" class="success-message mty" role="alert" tabindex="-1" autofocus>
                    <i class="success-message_icn">
                      {%- render 'icons-data', width: 54, height: 54, use_icon: true, icon_reference: 'smile' -%}
                    </i>
                    <p>{{- 'main_login.recover_success' | t -}}</p>
                  </div>
                {%- endif -%}
              {%- endform -%}
            </div>
          </login-component>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main_login.name",
  "tag": "section",
  "disabled_on": {
    "groups": [
      "header",
      "footer",
      "custom.overlay"
    ]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_shop_login_button",
      "label": "t:sections.main_login.settings.shop_login_button.label",
      "default": true
    },
    {
      "type": "inline_richtext",
      "id": "heading",
      "label": "t:heading.label",
      "default": "Customer Login"
    },
    {
      "type": "select",
      "id": "section_heading_size",
      "label": "t:sizes.heading.label",
      "options": [
        {
          "value": "heading_x_large",
          "label": "t:sizes.heading.options.opt_2.label"
        },
        {
          "value": "heading_large",
          "label": "t:sizes.heading.options.opt_3.label"
        },
        {
          "value": "heading_medium",
          "label": "t:sizes.heading.options.opt_4.label"
        }
      ],
      "default": "heading_x_large"
    },
    {
      "type": "select",
      "id": "section_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "semi_bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "normal",
          "label": "t:weight.heading.options.opt_3.label"
        }
      ],
      "default": "bold"
    },
    {
      "type": "header",
      "content": "t:settings_schema.layout.name"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.before_login.settings.banner.label",
      "info": "t:sections.before_login.settings.banner.info"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme1",
      "label": "t:settings_schema.color_schemes.name"
    },
    {
      "type": "header",
      "content": "t:breadcrumb.content"
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumb",
      "label": "t:breadcrumb.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_top_bdr",
      "label": "t:top_bdr.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_bottom_bdr",
      "label": "t:bottom_bdr.label",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "breadcrumb_color_scheme",
      "default": "scheme1",
      "label": "t:color_scheme.label"
    }
  ]
}
{% endschema %}