{{- 'component-breadcrumb.css' | asset_url | stylesheet_tag -}}
{{- 'component-price-range.css' | asset_url | stylesheet_tag -}}
{{- 'component-facets.css' | asset_url | stylesheet_tag -}}
{{- 'components-deferred-media.css' | asset_url | stylesheet_tag -}}
{{- 'component-variant-options.css' | asset_url | stylesheet_tag -}}
{{- 'product-common.css' | asset_url | stylesheet_tag -}}
{{- 'component-drag-slider.css' | asset_url | stylesheet_tag -}}
{{- 'component-product-column.css' | asset_url | stylesheet_tag -}}
{{- 'component-pagination.css' | asset_url | stylesheet_tag -}}
{%- if section.settings.enable_quick_view -%}
  {{- 'component-product-quick-view.css' | asset_url | stylesheet_tag -}}
{%- endif -%}
{{- 'component-section-grid.css' | asset_url | stylesheet_tag -}}
{{- 'main-products-grid.css' | asset_url | stylesheet_tag -}}
{%- liquid
  assign section_prefix_class = 'collection-products'
  assign section_scheme_class = section.settings.section_color_scheme | prepend: 'scheme scheme--'

  assign sort_by = collection.sort_by | default: collection.default_sort_by
  if collection.url
    assign results_url = collection.url
    else
      assign terms = collection.terms | escape
      assign results_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
  endif

  if section.settings.enable_sort
    capture sort_value
      for option in collection.sort_options
        if option.value == sort_by
          echo option.value
        endif
      endfor
    endcapture
  endif

  capture max_products_to_show
    echo section.settings.number_of_columns_on_desktop | times: section.settings.number_of_rows_on_desktop
  endcapture

  capture section_heading_size
    case section.settings.section_heading_size
      when 'heading_xx_large'
        echo 'h1'
      when 'heading_x_large'
        echo 'h2'
      when 'heading_large'
        echo 'h3'
      when 'heading_medium'
        echo 'h4'
      else
        echo 'h'
    endcase
  endcapture

  capture section_heading_weight
    case section.settings.section_heading_weight
      when 'bold'
        echo '--fw-bold'
      when 'semi_bold'
        echo '--fw-semi-bold'
      when 'medium'
        echo '--fw-medium'
      when 'normal'
        echo '--fw-normal'
    endcase
  endcapture

  capture show_featured_image
    unless collection.featured_image == null
      if section.settings.show_featured_image
        echo 'true'
      endif
    endunless
  endcapture

  capture description_position
    unless section.settings.show_description == 'none'
      if collection.description != blank
        if section.settings.show_description == 'top'
          echo 'top'
          else
            echo 'bottom'
        endif
      endif
    endunless
  endcapture

  capture section_description_weight
    case section.settings.section_description_weight
      when 'bold'
        echo '--fw-bold'
      when 'semi_bold'
        echo '--fw-semi-bold'
      when 'medium'
        echo '--fw-medium'
      when 'normal'
        echo '--fw-normal'
    endcase
  endcapture

  capture loading_attr
    if section.index > 1
      echo 'lazy'
      else
        echo 'eager'
    endif
  endcapture

  assign variant_limit = 5
  if section.settings.number_of_columns_on_desktop == 4
    assign variant_limit = 3
  endif
-%}
{%- style -%}
  .{{ section_prefix_class }}-{{ section.id }}{
    --section-padding-top: {{ section.settings.section_top_padding }}px;
    --section-padding-bottom: {{ section.settings.section_bottom_padding }}px;
    --columns-count: {{ section.settings.number_of_columns_on_desktop }};
    --mobile-columns-count: {{ section.settings.number_of_columns_on_mobile }};
    --mobile-q-align: {{ section.settings.section_mobile_text_alignment }};
    --desktop-q-align: {{ section.settings.section_text_alignment }};
  }
  {%- assign query = '414px' -%}
  @media (min-width: {{ query }}) and (max-width: 767px){
    #{{ section.id }}{
      --desktop-columns-count: {{ section.settings.number_of_columns_on_mobile }};
    }
  }
{%- endstyle -%}
<script src="{{ 'filters.js' | asset_url }}" defer="defer"></script>
{%- unless section.settings.paging_type == 'pagination' -%}
  <script src="{{ 'pagination.js' | asset_url }}" defer="defer"></script>
{%- endunless -%}
{%- liquid
  if section.settings.show_breadcrumb
    render 'breadcrumb', border_top: section.settings.show_top_bdr, border_bottom: section.settings.show_bottom_bdr, color_scheme: section.settings.breadcrumb_color_scheme
  endif
-%}
<div class="global-block section-grid {{ section_prefix_class }} {{ section_prefix_class }}-{{ section.id }} {{ section_scheme_class }}" id="{{- section.id -}}">
  <div class="container">
    <div class="{{ section_prefix_class }}_wrapper">
      {%- if collection.all_products_count > 0 -%}
        <header class="chead --bdr-bottom">
          <em class="facets_count-text h6 --fw-normal --word-break mty" data-render-products-count="">
            {%- liquid
              if collection.products_count == collection.all_products_count
                if collection.all_products_count == 1
                  echo 'filters.count.one' | t: count: collection.products_count
                  else
                    echo 'filters.count.other' | t: count: collection.all_products_count
                endif
                else
                  echo 'filters.count.facet_by' | t: count: collection.products_count, count_all: collection.all_products_count
              endif
            -%}
          </em>
          <div class="{{ section_prefix_class }}_top --v-align-middle">
            <div class="{{ section_prefix_class }}_top-col {{ section_prefix_class }}_top-col--title --v-align-start">
              {%- if show_featured_image == 'true' -%}
                {%- liquid
                  capture image_alt
                    if collection.featured_image.alt != blank
                      echo collection.featured_image.alt
                      else
                        echo collection.title | escape
                    endif
                  endcapture
                -%}
                <div class="{{ section_prefix_class }}_featured-img">
                  <img
                    srcset="{%- if collection.featured_image.width >= 550 -%}{{ collection.featured_image | image_url: width: 550 }} 550w,{%- endif -%}
                            {%- if collection.featured_image.width >= 1100 -%}{{ collection.featured_image | image_url: width: 1100 }} 1100w,{%- endif -%}
                            {%- if collection.featured_image.width >= 1445 -%}{{ collection.featured_image | image_url: width: 1445 }} 1445w,{%- endif -%}
                            {%- if collection.featured_image.width >= 1680 -%}{{ collection.featured_image | image_url: width: 1680 }} 1680w,{%- endif -%}
                            {%- if collection.featured_image.width >= 2048 -%}{{ collection.featured_image | image_url: width: 2048 }} 2048w,{%- endif -%}
                            {%- if collection.featured_image.width >= 2200 -%}{{ collection.featured_image | image_url: width: 2200 }} 2200w,{%- endif -%}
                            {%- if collection.featured_image.width >= 2890 -%}{{ collection.featured_image | image_url: width: 2890 }} 2890w,{%- endif -%}
                            {%- if collection.featured_image.width >= 4096 -%}{{ collection.featured_image | image_url: width: 4096 }} 4096w,{%- endif -%}
                            {{ collection.featured_image | image_url }} {{ collection.featured_image.width }}w"
                    sizes="(min-width: 750px) calc(100vw - 22rem), 1445px"
                    src="{{- collection.featured_image | image_url: width: 1445 -}}"
                    alt="{{- image_alt -}}"
                    loading="eager"
                    width="1445"
                    height="{{- 1445 | divided_by: collection.featured_image.aspect_ratio | round -}}"
                  >
                </div>
              {%- endif -%}
              <h1 class="mty {{ section_prefix_class }}_title {{ section_heading_size }} {{ section_heading_weight }}">
                {{- collection.title | escape -}}
              </h1>
            </div>
            {%- if section.settings.enable_sort -%}
              <div class="{{ section_prefix_class }}_top-col {{ section_prefix_class }}_top-col--sort --justify-end">
                <div class="{{ section_prefix_class }}_mob-filters">
                  <modal-component-toggler class="facets_hidden-desktop">
                    <button type="button" class="btn-icn-ixi facets_btn-toggler" data-expanded="false" data-modal-ref="modal-facets-drawer" aria-haspopup="dialog" aria-controls="modal-facets-drawer">
                      <strong class="facets_sidebar-heading h6 mty mob--filters --justify-between --v-align-middle --fw-medium">
                        <i class="facets_sidebar-icn">
                          {%- render 'icons-data', width: 20, height: 20, use_icon: true, icon_reference: 'filters' -%}
                        </i>
                        {{- 'filters.drawer_label_heading' | t -}}
                      </strong>
                    </button>
                  </modal-component-toggler>
                </div>
                <div class="facets_sort-wrap dropdown-component">
                  <strong id="facets-sort-select-heading" class="visually-hidden" role="heading" aria-level="2">
                    {{- 'filters.sort.label_heading' | t -}}
                  </strong>
                  <dropdown-component
                    data-sorting="true"
                    data-input-id="sorting-input"
                    class="dropdown-component--sort"
                  >
                    <button
                      type="button"
                      class="dropdown-component_opener --fw-medium dropdown-component_opener--sort --align-left"
                      aria-expanded="false"
                      aria-controls="facets-sort-select-dropdown"
                      aria-describedby="facets-sort-select-heading"
                    >
                      {%- liquid
                        for option in collection.sort_options
                          if option.value == sort_by
                            echo option.name | escape
                          endif
                        endfor
                      -%}
                      <i class="dropdown-componenet_icn-caret">
                        {%- render 'icons-data', width: 9, height: 5, use_icon: true, icon_reference: 'chevron-arrow' -%}
                      </i>
                    </button>
                    <div class="dropdown-component_wrapper dropdown-component_wrapper--sort" id="facets-sort-select-dropdown">
                      <ul class="list-unstyled">
                        {%- for option in collection.sort_options -%}
                          <li>
                            <button data-btn-sort="" type="button" class="dropdown-component_btn-submit --fw-medium --align-left dropdown-component_btn-submit--sort {% if option.value == sort_by %}active{% endif %}" data-value="{{- option.value | escape -}}">
                              {{- option.name | escape -}}
                              {%- if option.value == sort_by -%}
                                <span class="visually-hidden">{{- 'filters.sort.option_selected' | t -}}</span>
                              {%- endif -%}
                            </button>
                          </li>
                        {%- endfor -%}
                      </ul>
                    </div>
                  </dropdown-component>
                </div>
              </div>
            {%- endif -%}
          </div>
          {%- if description_position == 'top' -%}
            <div class="{{ section_prefix_class }}_description postion_{{ description_position }} text-size--{{ section.settings.description_text_size }} {{ section_description_weight }}">
              {{- collection.description -}}
            </div>
          {%- endif -%}
        </header>
        <div class="facets_two-columns">
          {%- if section.settings.enable_filters -%}
            <modal-component
              data-modal="modal-facets-drawer"
              data-desktop-hidden="true"
              class="modal--filter"
            >
              <div
                class="modal --drawer modal-component modal-component--facets-drawer scheme--{{ section.settings.section_color_scheme }}"
                role="dialog"
                aria-modal="true"
                aria-labelledby="modal-facets-drawer-heading"
                aria-describedby="modal-facets-drawer"
                tabindex="-1"
              >
                <div class="modal-component_wrapper" id="modal-facets-drawer">
                  <div class="modal-component_body">
                    <aside class="facets_col facets_col--sidebar">
                      <modal-component-toggler>
                        <button
                          type="button"
                          data-expanded="true"
                          data-toggle-attribute="false"
                          data-modal-ref="modal-facets-drawer"
                          class="modal-component_btn-close btn-icn-ixi"
                        >
                          <span class="btn-icn-ixi_wrapper facets_drawer--close-icn">
                            {%- render 'icons-data', width: 14, height: 14, use_icon: true, icon_reference: 'cross' -%}
                            <span class="visually-hidden">{{- 'accessibility.close' | t -}}</span>
                          </span>
                        </button>
                      </modal-component-toggler>
                      <strong class="facets_sidebar-heading h6 mty --justify-between --v-align-middle --fw-medium" id="modal-facets-drawer-heading">
                        {{- 'filters.drawer_label_heading' | t -}}
                        <i class="facets_sidebar-icn facets_mobile-desktop">
                          {%- render 'icons-data', width: 20, height: 20, use_icon: true, icon_reference: 'filters' -%}
                        </i>
                      </strong>
                      <filters-form
                        data-section="{{- section.id -}}"
                      >
                        <form data-render-facets-form="">
                          {%- render 'facets', results: collection -%}
                          <input type="hidden" name="sort_by" value="{{- sort_value -}}" id="sorting-input">
                        </form>
                      </filters-form>
                    </aside>
                  </div>
                </div>
              </div>
            </modal-component>
          {%- endif -%}
          <div class="facets_two-col facets_two-col--grid">
            {%- if section.settings.enable_filters -%}
              <div class="facets_head --v-align-middle parent-node" data-render-active-facets="">
                <div class="facets-active">
                  <div class="facets-active_wrapper --v-align-middle">
                    {%- for filter in collection.filters -%}
                      {%- for value in filter.active_values -%}
                        <facet-remove-button data-form-selector="filters-form[data-section='{{- section.id -}}'] form" data-for="Filter-{{ filter.label | replace: ' ', '' | escape }}-{{ value.label | replace: ' ', '' }}">
                          <button type="button" class="facet-remove-btn button button--facet --v-align-middle">
                            {{- value.label | escape -}}
                            <i class="facet-remove_icn">
                              {%- render 'icons-data', width: 8, height: 8, use_icon: true, icon_reference: 'cross' -%}
                            </i>
                          </button>
                        </facet-remove-button>
                      {%- endfor -%}
                      {% if filter.type == 'price_range' %}
                        {%- if filter.min_value.value != null or filter.max_value.value != null -%}
                          <facet-remove-button data-form-selector="filters-form[data-section='{{- section.id -}}'] form" data-is-price="true">
                            <button type="button" class="facet-remove-btn button button--facet --v-align-middle">
                              {%- liquid
                                if filter.min_value.value
                                  echo filter.min_value.value | money
                                  else
                                    echo 0 | money
                                endif
                                echo ' - '
                                if filter.max_value.value
                                  echo filter.max_value.value | money
                                  else
                                    echo filter.range_max | money
                                endif
                              -%}
                              <i class="facet-remove_icn">
                                {%- render 'icons-data', width: 8, height: 8, use_icon: true, icon_reference: 'cross' -%}
                              </i>
                            </button>
                          </facet-remove-button>
                        {%- endif -%}
                      {%- endif -%}
                    {%- endfor -%}
                    <facet-remove-button data-form-selector="filters-form[data-section='{{- section.id -}}'] form" data-clear-all="true">
                      <button type="button" class="facets-remove-all button button--link --hover-underline" data-url="{{- results_url -}}">
                        {{- 'filters.clear_all' | t -}}
                      </button>
                    </facet-remove-button>
                  </div>
                </div>
              </div>
            {%- endif -%}
            <div class="grid {{ section_prefix_class }}_grid" data-render-grid-products="">
              {%- if collection.products.size == 0 -%}
                <div class="grid_col grid_col--empty">
                  <div class="{{ section_prefix_class }}_empty-content --align-center">
                    <i class="{{ section_prefix_class }}_icn">
                      {%- render 'icons-data', width: 44, height: 44, use_icon: true, icon_reference: 'empty-folder' -%}
                    </i>
                    <strong class="h6 {{ section_prefix_class }}_empty-heading mty">
                      {{- 'filters.empty_heading' | t -}}
                    </strong>
                    <div class="{{ section_prefix_class }}_empty-description mty text-size--medium">
                      <p>
                        {{- 'filters.use_fewer_filters_html' | t: sectionId: section.id, url: results_url -}}
                      </p>
                    </div>
                  </div>
                </div>
                {%- else -%}
                  {%- paginate collection.products by max_products_to_show -%}
                    {%- for product in collection.products -%}
                      <div class="grid_col" data-render-columns="">
                        {%- liquid
                          render 'product-column', product: product, parent: true, loading: loading_attr, focus: true, heading_tag: 'h2', heading_weight: section.settings.card_heading_weight, thumbnail_layout: section.settings.thumbnail_layout, show_swatches: section.settings.show_swatches, details_btn: section.settings.show_details_btn, enable_atc: section.settings.enable_atc, show_price: section.settings.show_price, show_vendor: section.settings.show_vendor, enable_quick_view: section.settings.enable_quick_view, variant_limit: variant_limit, card_media_size: section.settings.product_media_size, btns_position: section.settings.btns_position
                          if section.settings.enable_quick_view
                            render 'product-quick-view', product: product, show_navigation: true, show_variation: section.settings.show_variation, show_swatches: section.settings.show_quick_swatches, show_sku: section.settings.show_sku, show_subtotals: section.settings.show_subtotals, show_whatsapp: section.settings.show_whatsapp, whatsapp_number: section.settings.whatsapp_number, custom_message: section.settings.custom_message
                          endif
                        -%}
                      </div>
                    {%- endfor -%}
                    {%- liquid
                      case section.settings.paging_type
                        when 'click_load'
                          render 'load-more', paginate: paginate, infinite: false
                        when 'load_more'
                          render 'load-more', paginate: paginate, infinite: true
                        else
                          render 'pagination', paginate: paginate, prefix_class: section_prefix_class
                      endcase
                    -%}
                  {%- endpaginate -%}
              {%- endif -%}
            </div>
          </div>
        </div>
        {%- if description_position == 'bottom' -%}
          <div class="{{ section_prefix_class }}_description text-size--{{ section.settings.description_text_size }} {{ section_description_weight }}">
            {{- collection.description -}}
          </div>
        {%- endif -%}
        {%- else -%}
          <div class="inner-container" style="--max-content: 540px;">
            <div class="{{ section_prefix_class }}_empty-wrap --align-center">
              <i class="{{ section_prefix_class }}_empty-icn">
                {%- render 'icons-data', width: 124, height: 124, use_icon: true, icon_reference: 'empty-folder' -%}
              </i>
              <strong class="h3 {{ section_prefix_class }}_empty-heading">
                {{- 'products_grid.empty_heading_html' | t -}}
              </strong>
              <div class="mty {{ section_prefix_class }}_empty-description text-size--large">
                <p>{{- 'products_grid.empty_desciption' | t -}}</p>
              </div>
              <div class="{{ section_prefix_class }}_empty-btn-wrap">
                <a href="{{- routes.collections_url -}}" class="button button--primary {{ section_prefix_class }}_button-emp">
                  {{- 'products_grid.empty_btn_label' | t -}}
                </a>
              </div>
            </div>
          </div>
      {%- endif -%}
    </div>
  </div>
</div>
{% schema %}
{
  "name": "t:sections.main_products_grid.name",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main_products_grid.settings.header.content"
    },
    {
      "type": "select",
      "id": "section_heading_size",
      "label": "t:sizes.heading.label",
      "options": [
        {
          "value": "heading_xx_large",
          "label": "t:sizes.heading.options.opt_1.label"
        },
        {
          "value": "heading_x_large",
          "label": "t:sizes.heading.options.opt_2.label"
        },
        {
          "value": "heading_large",
          "label": "t:sizes.heading.options.opt_3.label"
        },
        {
          "value": "heading_medium",
          "label": "t:sizes.heading.options.opt_4.label"
        }
      ],
      "default": "heading_large"
    },
    {
      "type": "select",
      "id": "section_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "semi_bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "normal",
          "label": "t:weight.heading.options.opt_3.label"
        }
      ],
      "default": "bold"
    },
    {
      "type": "select",
      "id": "show_description",
      "label": "t:sections.main_products_grid.settings.description.label",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main_products_grid.settings.description.position.none"
        },
        {
          "value": "top",
          "label": "t:positions.options.top"
        },
        {
          "value": "bottom",
          "label": "t:positions.options.bottom"
        }
      ],
      "default": "top"
    },
    {
      "type": "select",
      "id": "description_text_size",
      "label": "t:sizes.description_text.label",
      "options": [
        {
          "value": "small",
          "label": "t:sizes.text.options.opt_1.label"
        },
        {
          "value": "medium",
          "label": "t:sizes.text.options.opt_2.label"
        },
        {
          "value": "large",
          "label": "t:sizes.text.options.opt_3.label"
        },
        {
          "value": "xlarge",
          "label": "t:sizes.text.options.opt_4.label"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "section_description_weight",
      "label": "t:weight.description_text.label",
      "options": [
        {
          "value": "bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "semi_bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "normal",
          "label": "t:weight.heading.options.opt_3.label"
        }
      ],
      "default": "normal"
    },
    {
      "type": "header",
      "content": "t:breadcrumb.content"
    },
    {
      "type": "checkbox",
      "id": "show_breadcrumb",
      "label": "t:breadcrumb.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_top_bdr",
      "label": "t:top_bdr.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_bottom_bdr",
      "label": "t:bottom_bdr.label",
      "default": true
    },
    {
      "type": "color_scheme",
      "id": "breadcrumb_color_scheme",
      "default": "scheme1",
      "label": "t:color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:grid.content"
    },
    {
      "type": "range",
      "id": "number_of_columns_on_desktop",
      "label": "t:grid.desktop.columns.label",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 3
    },
    {
      "type": "range",
      "id": "number_of_rows_on_desktop",
      "label": "t:grid.desktop.rows.label",
      "min": 1,
      "max": 7,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "number_of_columns_on_mobile",
      "label": "t:grid.mobile.columns.label",
      "info": "t:grid.mobile.info_small",
      "options": [
        {
          "value": "1",
          "label": "t:grid.mobile.columns.options.opt_1.label"
        },
        {
          "value": "2",
          "label": "t:grid.mobile.columns.options.opt_2.label"
        }
      ],
      "default": "2"
    },
    {
      "type": "header",
      "content": "t:product.card.content"
    },
    {
      "type": "select",
      "id": "card_heading_weight",
      "label": "t:weight.heading.label",
      "options": [
        {
          "value": "bold",
          "label": "t:weight.heading.options.opt_1.label"
        },
        {
          "value": "semi_bold",
          "label": "t:weight.heading.options.opt_5.label"
        },
        {
          "value": "medium",
          "label": "t:weight.heading.options.opt_2.label"
        },
        {
          "value": "normal",
          "label": "t:weight.heading.options.opt_3.label"
        }
      ],
      "default": "medium"
    },
    {
      "type": "select",
      "id": "product_media_size",
      "label": "t:media.label",
      "options": [
        {
          "value": "adapt",
          "label": "t:media.options.opt_1.label"
        },
        {
          "value": "square",
          "label": "t:media.options.opt_2.label"
        },
        {
          "value": "portrait",
          "label": "t:media.options.opt_3.label"
        },
        {
          "value": "landscape",
          "label": "t:media.options.opt_4.label"
        }
      ],
      "default": "adapt"
    },
    {
      "type": "select",
      "id": "thumbnail_layout",
      "label": "t:product.media.view.label",
      "options": [
        {
          "value": "thumbnail",
          "label": "t:product.media.view.options.opt_1.label"
        },
        {
          "value": "slider",
          "label": "t:product.media.view.options.opt_2.label"
        }
      ],
      "default": "thumbnail"
    },
    {
      "type": "checkbox",
      "id": "show_details_btn",
      "label": "t:product.details.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_atc",
      "label": "t:product.atc.label",
      "default": true
    },
    {
      "type": "select",
      "id": "btns_position",
      "label": "t:product.card.btns_position.label",
      "options": [
        {
          "value": "top",
          "label": "t:positions.options.top"
        },
        {
          "value": "bottom",
          "label": "t:positions.options.bottom"
        }
      ],
      "default": "top"
    },
    {
      "type": "select",
      "id": "show_swatches",
      "label": "t:product.swatches.label",
      "options": [
        {
          "value": "none",
          "label": "t:settings_schema.general.settings.clr_swatches.options.opt_1.label"
        },
        {
          "value": "swatches",
          "label": "t:settings_schema.general.settings.clr_swatches.options.opt_2.label"
        },
        {
          "value": "colors",
          "label": "t:settings_schema.general.settings.clr_swatches.options.opt_3.label"
        },
        {
          "value": "images",
          "label": "t:settings_schema.general.settings.clr_swatches.options.opt_4.label"
        }
      ],
      "default": "swatches"
    },
    {
      "type": "checkbox",
      "id": "show_price",
      "label": "t:product.price.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:product.vendor.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:product.card.quick_view.content"
    },
    {
      "type": "checkbox",
      "id": "enable_quick_view",
      "label": "t:product.card.quick_view.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_variation",
      "default": true,
      "label": "t:product.variation.label"
    },
    {
      "type": "select",
      "id": "show_quick_swatches",
      "label": "t:product.swatches.label",
      "options": [
        {
          "value": "none",
          "label": "t:settings_schema.general.settings.clr_swatches.options.opt_1.label"
        },
        {
          "value": "swatches",
          "label": "t:settings_schema.general.settings.clr_swatches.options.opt_2.label"
        },
        {
          "value": "colors",
          "label": "t:settings_schema.general.settings.clr_swatches.options.opt_3.label"
        },
        {
          "value": "images",
          "label": "t:settings_schema.general.settings.clr_swatches.options.opt_4.label"
        }
      ],
      "default": "swatches"
    },
    {
      "type": "checkbox",
      "id": "show_sku",
      "default": true,
      "label": "t:product.sku.label"
    },
    {
      "type": "checkbox",
      "id": "show_subtotals",
      "default": true,
      "label": "t:product.subtotal.label"
    },
    {
      "type": "checkbox",
      "id": "show_whatsapp",
      "default": false,
      "label": "t:sections.product_blocks.buttons.whatsapp.label"
    },
    {
      "type": "text",
      "id": "whatsapp_number",
      "label": "t:sections.product_blocks.buttons.whatsapp.number.label"
    },
    {
      "type": "textarea",
      "id": "custom_message",
      "label": "t:sections.product_blocks.buttons.whatsapp.message.label",
      "default": "Hi! I'm interested in learning more about the ||product_url||. Could you please provide more details or assist me with the purchase? Looking forward to your response! Thank you!",
      "info": "t:sections.product_blocks.buttons.whatsapp.message.info"
    },
    {
      "type": "header",
      "content": "t:layout.content"
    },
    {
      "type": "checkbox",
      "id": "show_featured_image",
      "default": true,
      "label": "t:collection.featured_image.label"
    },
    {
      "type": "checkbox",
      "id": "enable_filters",
      "label": "t:filters.label",
      "info": "t:filters.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_sort",
      "label": "t:filters.sort.label",
      "default": true
    },
    {
      "type": "select",
      "id": "paging_type",
      "label": "t:pagination.label",
      "info": "t:pagination.info",
      "options": [
        {
          "value": "pagination",
          "label": "t:pagination.options.opt_1.label"
        },
        {
          "value": "click_load",
          "label": "t:pagination.options.opt_2.label"
        },
        {
          "value": "load_more",
          "label": "t:pagination.options.opt_3.label"
        }
      ],
      "default": "pagination"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "default": "scheme1",
      "label": "t:color_scheme.label"
    },
    {
      "type": "header",
      "content": "t:spacing.content"
    },
    {
      "type": "range",
      "id": "section_top_padding",
      "label": "t:positions.options.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "section_bottom_padding",
      "label": "t:positions.options.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "px"
    }
  ]
}
{% endschema %}